DB_HOST=vps02.evotic.es
DB_USER=tc_app_dbuser
DB_PASS=hya_4H76
DB_NAME=thecorner_app
SITE_URL=https://thecorner.es
GOOGLE_API_KEY=TU_API_KEY_AQUI
GOOGLE_PLACE_ID=TU_PLACE_ID_AQUI
